<h1>Welcome to Faith Adhiambo page!</h1>
<nav class="nav justify-content-end">
    <a routerLink="home" class="nav-item nav-link active">Home</a>
    <a routerLink="profile" class="nav-item nav-link">Profile</a>
    <a routerLink="services" class="nav-item nav-link"> Services</a>
    <a routerLink="contact" class="nav-item nav-link">Contact-us</a>
    <a routerLink="about" class="nav-item nav-link"> About-us</a>
    <a routerLink="reports" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
</nav>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="First Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Software Engineer</h5>
        <p>Passionate About Tech, Dedicated to Growth. Creating Tomorrow, One Solution at a Time!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Second Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Technocrat & Social Justice </h5>
        <p>Innovating for Equality, Leading with Integrity.Building a Fairer Future Through Innovation and Action.Where Technology Meets Justice for a Better Tomorrow</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Third Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Mentor, Health Enthusiast & Tech Leader</h5>
        <p>Inspiring Wellness, Empowering Minds, Leading Innovation. Where Wellness Fuels Innovation and Leadership Inspires Change</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
