<div class="navbar-container">
    <div class="tagline">
      <h3><i>Innovating for Change, Leading with Purpose</i></h3>
    </div>
    <div class="navbar-content">
      <h3 class="name">Eng. Faith Adhiambo</h3>
      <nav class="nav justify-content-end">
        <a routerLink="home" class="nav-item nav-link active">Home</a>
        <a routerLink="profile" class="nav-item nav-link">Profile</a>
        <a routerLink="services" class="nav-item nav-link">Services</a>
        <a routerLink="contact" class="nav-item nav-link">Contact Us</a>
        <a routerLink="about" class="nav-item nav-link">About Us</a>
        <a routerLink="reports" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
      </nav>
    </div>
  </div>
  