.navbar-container {
    text-align: center;
  }
  
  .tagline {
    margin-bottom: 0; /* Ensures tagline stays at the top */
  }
  
  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .name {
    margin-right: auto;
    padding-left: 1rem; /* Adjust if needed */
    font-weight: bold;
  }
  
  .nav {
    flex-grow: 1;
    justify-content: flex-end;
  }
h3{
    color: maroon;
}  