<h1>Welcome to Faith Adhiambo page!</h1>
<nav class="nav justify-content-end">
    <a routerLink="home" class="nav-item nav-link active">Home</a>
    <a routerLink="profile" class="nav-item nav-link">Profile</a>
    <a routerLink="services" class="nav-item nav-link"> Services</a>
    <a routerLink="contact" class="nav-item nav-link">Contact-us</a>
    <a routerLink="about" class="nav-item nav-link"> About-us</a>
    <a routerLink="reports" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
</nav>
